@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Dosis:400,500&display=swap);
body{
    background:#0d2332;
    padding-top:90px
}
@media only screen and (min-width:720px){
    body{
        padding-top:60px
    }
}

@media only screen and (min-width:720px){
    body.bg-pattern-csa{
        background-size:1000px
    }
}
a{
    color:#3084c0;
    text-decoration:none;
    transition:color .2s,border-color .2s;
    cursor: pointer;
}
a:hover{
    color:#0d2332
}
a:focus{
    background:rgba(48,132,192,.2)
}
a.link{
    cursor:pointer;
    padding-bottom:3px;
    color:#fff;
    border-bottom:2px solid
}
a.link:hover{
    color:#0d2332
}
.l-container{
    margin:0 auto;
    max-width:1200px;
    width: 75%;
    margin-top: -40px;
}

@media only screen and (max-width: 1400px) {
    .l-container{
        margin:0 auto;
        max-width:1200px;
        margin-top: -20px;
        width: 90% !important;
    }
}


.l-grid.l-grid-nogutter{
    margin:0
}
.l-grid.l-grid-nogutter>.l-col{
    padding:0
}
.l-col{
    box-sizing:border-box;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    -webkit-box-flex:1;
    flex-grow:1;
    -ms-flex-preferred-size:0;
    -webkit-flex-basis:0;
    flex-basis:0;
    max-width:100%;
    min-width:0;
    padding:0 20px
}
.l-col.l-col-nogutter{
    padding:0
}
.l-col-top{
    justify-content:flex-start!important;
    flex-direction:column;
    display:flex
}
.l-col-bottom{
    justify-content:flex-end!important;
    flex-direction:column;
    display:flex
}
.l-grid-center{
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
}
.l-grid-around{
    justify-content:space-around
}
html{
    box-sizing:border-box
}
*,:after,:before{
    box-sizing:inherit
}
body{
    margin:0
}
a{
    background-color:transparent
}
b{
    font-weight:bolder
}
q{
    quotes:"“" "”" "‘" "’"
}
h1,h2,h3,h4,h5,h6{
    margin:0
}
body{
    font-family:dosis,sans-serif;
    font-size:20px;
    color:#5b7085
}
h1{
    font-size:36px;
    margin-bottom:20px;
    color:#495b6c;
    font-family: 'Montserrat', sans-serif;
    font-weight:500
}
h2{
    font-size:30px;
    margin-bottom:20px;
    color:#495b6c;
    font-family:dosis,sans-serif;
    font-weight:500
}
h3{
    font-size:22px;
    margin-bottom:20px;
    color:#495b6c;
    font-family:dosis,sans-serif;
    font-weight:500
}
h4{
    font-size:20px;
    margin-bottom:20px;
    color:#495b6c;
    font-family:dosis,sans-serif;
    font-weight:500
}
h5{
    font-size:20px;
    margin-bottom:20px;
    color:#495b6c;
    font-family:dosis,sans-serif;
    font-weight:500
}
h6{
    font-size:20px;
    margin-bottom:20px;
    color:#495b6c;
    font-family:dosis,sans-serif;
    font-weight:500
}
.h1{
    font-size:36px;
    margin-bottom:20px;
    color:#495b6c;
    font-family:dosis,sans-serif;
    font-weight:500
}
.h2{
    font-size:30px;
    margin-bottom:20px;
    color:#495b6c;
    font-family:dosis,sans-serif;
    font-weight:500
}
.h3{
    font-size:22px;
    margin-bottom:20px;
    color:#495b6c;
    font-family:dosis,sans-serif;
    font-weight:500
}
.h4{
    font-size:20px;
    margin-bottom:20px;
    color:#495b6c;
    font-family:dosis,sans-serif;
    font-weight:500
}
.h5{
    font-size:20px;
    margin-bottom:20px;
    color:#495b6c;
    font-family:dosis,sans-serif;
    font-weight:500
}
.h6{
    font-size:20px;
    margin-bottom:20px;
    color:#495b6c;
    font-family:dosis,sans-serif;
    font-weight:500
}
h1{
    font-size:30px
}
@media only screen and (min-width:624px){
    h1{
        font-size:36px
    }
}
h2{
    font-size:22px
}
@media only screen and (min-width:624px){
    h2{
        font-size:30px
    }
}
h3{
    font-size:20px
}
@media only screen and (min-width:624px){
    h3{
        font-size:22px
    }
}
p{
    margin:0 0 15px;
    font-size:18px;
    line-height:1.5
}
@media only screen and (min-width:624px){
    p{
        font-size:20px
    }
}
ul li{
    margin-bottom:8px;
    font-size:18px
}
@media only screen and (min-width:624px){
    ul li{
        font-size:20px
    }
}
ul li a{
    display:inline-block
}
.c-paper{
    position:relative;
    margin-bottom:14px;
    padding:62px;
    background-color:#fff
}
@media only screen and (max-width:744px){
    .c-paper{
        padding:42px
    }
}
.c-paper--leaderboard{
    padding:16px
}
@media only screen and (min-width:744px){
    .c-paper--leaderboard{
        padding:32px
    }
}
.c-paper--no-border-radius{
    border-radius:0
}
.c-paper--no-border-radius-top{
    border-top-left-radius:0;
    border-top-right-radius:0
}
.c-paper--no-border-radius-bottom{
    border-bottom-left-radius:0;
    border-bottom-right-radius:0
}
.c-label{
    background-color:#b8b8c0;
    display:inline-block;
    font-size:16px;
    padding:4px 8px
}
.c-label:not(:last-of-type){
    margin-right:8px
}
.c-label--primary{
    background-color:#3084c0;
    color:#3084c0
}
.c-label--secondary{
    background-color:#6a7682;
    color:#495b6c
}
.c-label--warning{
    background-color:#d38e00;
    color:#495b6c
}
.c-footer{
    display:block;
    width:100%;
    padding:20px 0 44px;
    text-align:center;
    font-size:18px;
    color: white;
}
.c-footer__links{
    margin-bottom:20px
}
.c-footer__links a{
    display:inline-block;
    margin:0 8px 12px;
    color: white;
}
.header{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:0 auto;
    width:100%;
    padding:0 20px 44px;
    text-align:center
}
.header__title{
    display:flex;
    justify-content:center;
    margin-top:32px;

}
@media only screen and (min-width:624px){
    .header__title{
        max-width:1200px
    }
}
.header__title h1{
    margin-bottom:0;
    color:#fff
}
.news-grid{
    display:flex;
    flex-wrap:wrap
}
.nav-primary{
    text-align: center;
    z-index:2;

    position:relative;
    top:auto;
    bottom:-10px;
    margin:0;
    flex-direction:row;
    width:100%;
    background-color:#286fa0;
}
@media only screen and (min-width:470px){
    .nav-primary{
        position:relative;
        top:auto;
        bottom:-10px;
        margin:0;
        flex-direction:row;
        width:100%;
        background-color:#286fa0;
    }
}
.nav-primary__links{
    display:flex;
        align-items:center;
        flex-direction:row;
        justify-content:center;
        width:100%
}
@media only screen and (min-width:670px){
    .nav-primary__links{
        display:flex;
        align-items:center;
        flex-direction:row;
        justify-content:center;
        width:100%; 

    }
}
.nav-primary__links ul{
    margin:0;
    padding:0;
    list-style:none
}
.nav-primary__links ul li{
    margin:20px 0
}
@media only screen and (min-width:870px){
    .nav-primary__links ul li{
        display:inline-block;
        height:100%;
        margin:0;
        padding:0 12px
    }
}
.nav-primary__links ul li:first-child{
    padding-left:0
}
.nav-primary__links ul li a{
    display:block;
    height:100%;
    margin:0;
    color:#fff;
    font-size:22px
}
@media only screen and (min-width:870px){
    .nav-primary__links ul li a{
        padding:20px 0;
        border-bottom:5px solid transparent;
        font-size:20px
    }
}
.nav-primary__links ul li a:hover{
    transition:.4s border
}
@media only screen and (min-width:870px){
    .nav-primary__links ul li a:hover{
        border-bottom:5px solid #fff
    }
}
@media only screen and (min-width:870px){
    .nav-primary__links ul li a.is-active{
        border-bottom:5px solid #fff
    }
}
