@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Dosis:400,500&display=swap); /* original font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  
:root {
  --primary-color: #589f7c;
  --color-bg: #edf2f7;
  --gradient-color: linear-gradient(90deg, rgba(180,224,200,0.7679446778711485) 0%, rgba(136,184,158,0.6587009803921569) 51%, rgba(88,159,124,0.6026785714285714) 100%);
  --lighter-color: rgba(88, 159, 124, 0.06);
  --box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
@font-face {
  font-family:"Ergonomique Bold";
  src: url("../fonts/one.ttf") format("truetype");
}
@font-face {
  font-family:"Giga Sans Light";
	src: url("../fonts/two.woff") format("truetype");
}

@font-face {
	font-family:"Muli Light";
	src: url("../fonts/Muli-Light.ttf") format("truetype");
}
body{
	background-color:var(--lighter-color);
  padding-top:90px;
  overflow-x: hidden;
}
@media only screen and (min-width:720px){
	body{
			padding-top:60px
	}
}

@media only screen and (min-width:720px){
	body.bg-pattern-csa{
			background-size:1000px
	}
}

*,*:focus,*:hover {
  outline: none;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	text-align: justify;
  }

td, th {
	
	text-align: left;
	padding: 8px;
	font-family: 'Giga Sans Light';
  }

  table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }

a{
	color:#3084c0;
	text-decoration:none;
	transition:color .2s,border-color .2s;
	cursor: pointer;
}
a:hover{
	color:#0d2332
}
a:focus{
	background:rgba(48,132,192,.2)
}
a.link{
	cursor:pointer;
	padding-bottom:3px;
	color:#fff;
	border-bottom:2px solid
}
a.link:hover{
	color:#0d2332
}
.l-container{
	margin:0 auto;
	max-width:1200px;
	width: 75%;
	margin-top: -40px;
}

@media only screen and (max-width: 1400px) {
	.l-container{
			margin:0 auto;
			max-width:1200px;
			margin-top: -20px;
			width: 90% !important;
	}
}


.l-grid.l-grid-nogutter{
	margin:0
}
.l-grid.l-grid-nogutter>.l-col{
	padding:0
}
.l-col{
	box-sizing:border-box;
	-webkit-flex:0 0 auto;
	-ms-flex:0 0 auto;
	flex:0 0 auto;
	-webkit-flex-grow:1;
	-ms-flex-positive:1;
	-webkit-box-flex:1;
	flex-grow:1;
	-ms-flex-preferred-size:0;
	-webkit-flex-basis:0;
	flex-basis:0;
	max-width:100%;
	min-width:0;
	padding:0 20px
}
.l-col.l-col-nogutter{
	padding:0
}
.l-col-top{
	justify-content:flex-start!important;
	flex-direction:column;
	display:flex
}
.l-col-bottom{
	justify-content:flex-end!important;
	flex-direction:column;
	display:flex
}
.l-grid-center{
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center
}
.l-grid-around{
	justify-content:space-around
}
html{
	box-sizing:border-box
}
*,:after,:before{
	box-sizing:inherit
}
body{
	margin:0
}
a{
	background-color:transparent
}
b{
	font-weight:bolder
}
q{
	quotes:"“" "”" "‘" "’"
}
h1,h2,h3,h4,h5,h6{
	margin:0
}
body{
	font-family: 'Ergonomique Bold';
	font-size:20px;
	color:#000000;
}
h1{
	font-size:36px;
	margin-bottom:20px;	
	font-family: 'Ergonomique Bold';
	font-weight:500;
}
h2{
	font-size:30px;
	margin-bottom:20px;	
	font-family: 'Ergonomique Bold';
	font-weight:500;
}
h3{
	font-size:22px;
	margin-bottom:20px;	
	font-family: 'Ergonomique Bold';
	font-weight:500;
}
h4{
	font-size:20px;
	margin-bottom:20px;	
	font-family: 'Ergonomique Bold';
	font-weight:500;
}
h5{
	font-size:20px;
	margin-bottom:20px;	
	font-family: 'Ergonomique Bold';
	font-weight:500;
}
h6{
	font-size:20px;
	margin-bottom:20px;	
	font-family: 'Ergonomique Bold';
	font-weight:500;
}
.h1{
	font-size:36px;
	margin-bottom:20px;	
	font-family: 'Ergonomique Bold';
	font-weight:500;
}
.h2{
	font-size:30px;
	margin-bottom:20px;	
	font-family: 'Ergonomique Bold';
	font-weight:500;
}
.h3{
	font-size:22px;
	margin-bottom:20px;	
	font-family: 'Ergonomique Bold';
	font-weight:500;
}
.h4{
	font-size:20px;
	margin-bottom:20px;	
	font-family: 'Ergonomique Bold';
	font-weight:500;
}
.h5{
	font-size:20px;
	margin-bottom:20px;	
	font-family: 'Ergonomique Bold';
	font-weight:500
}
.h6{
	font-size:20px;
	margin-bottom:20px;	
	font-family: 'Ergonomique Bold';
	font-weight:500;
}
h1{
	font-size:30px
}
@media only screen and (min-width:624px){
	h1{
			font-size:36px
	}
}
h2{
	font-size:22px
}
@media only screen and (min-width:624px){
	h2{
			font-size:30px
	}
}
h3{
	font-size:20px
}
@media only screen and (min-width:624px){
	h3{
			font-size:22px
	}
}
p{
	margin:0 0 15px;
	font-size:18px;
	line-height:1.5;
	font-family: 'Giga Sans Light';
}
@media only screen and (min-width:624px){
	p{
			font-size:20px
	}
}
ul li{
	margin-bottom:8px;
	font-size:18px
}
@media only screen and (min-width:624px){
	ul li{
			font-size:20px
	}
}
ul li a{
	display:inline-block
}
.c-paper{
	position:relative;
	margin-bottom:14px;
	padding:62px;
	background-color:#fff
}
@media only screen and (max-width:744px){
	.c-paper{
			padding:42px
	}
}
.c-paper--leaderboard{
	padding:16px
}
@media only screen and (min-width:744px){
	.c-paper--leaderboard{
			padding:32px
	}
}
.c-paper--no-border-radius{
	border-radius:0
}
.c-paper--no-border-radius-top{
	border-top-left-radius:0;
	border-top-right-radius:0
}
.c-paper--no-border-radius-bottom{
	border-bottom-left-radius:0;
	border-bottom-right-radius:0
}
.c-label{
	background-color:#b8b8c0;
	display:inline-block;
	font-size:16px;
	padding:4px 8px
}
.c-label:not(:last-of-type){
	margin-right:8px
}
.c-label--primary{
	background-color:#3084c0;
	color:#3084c0
}
.c-label--secondary{
	background-color:#6a7682;
	color:#495b6c
}
.c-label--warning{
	background-color:#d38e00;
	color:#495b6c
}
.c-footer{
	display:block;
	width:100%;
	padding:30px 0 44px;
	text-align:center;
	font-size:18px;
  color: white;
  background-color: black;
}
@media only screen and (max-width:918px){
	.c-footer{
		font-size: 16px;
	}
}
.c-footer__links{
	margin-bottom:20px
}
.c-footer__links a{
	display:inline-block;
	margin:0 8px 12px;
	color: white;
}
.header{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin:0 auto;
	width:100%;
	padding:0 20px 44px;
	text-align:center;
	text-transform: uppercase;
}
.header__title{
	display:flex;
	justify-content:center;
	margin-top:32px;

}
@media only screen and (min-width:624px){
	.header__title{
			max-width:1200px
	}
}
@media only screen and (max-width:918px){
	.header__title img{
		display: none;
	}
}
.header__title h1{
	margin: auto;
	color: #000000;
}
.header__title img{
	height: 100px;
	width: auto;
}
.news-grid{
	display:flex;
	flex-wrap:wrap
}
.nav-primary{
	text-align: center;
	z-index:2;

	position:relative;
	top:auto;
	bottom:-10px;
	margin:0;
	flex-direction:row;
	width:100%;
	background-color:#000000;
}
@media only screen and (min-width:470px){
	.nav-primary{
			position:relative;
			top:auto;
			bottom:-10px;
			margin:0;
			flex-direction:row;
			width:100%;
	}
}
.collapse-btn {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.collapse-btn.active {  
}
@media only screen and (max-width:870px){
	.nav-primary {
    display: none;
  }
  .nav-primary__links {
    margin-bottom: 2em;
  }
  .collapse-btn {
    display: block !important;
  }
}
.nav-primary__links{
	display:flex;
			align-items:center;
			flex-direction:row;
			justify-content:center;
			width:100%
}
@media only screen and (min-width:670px){
	.nav-primary__links{
			display:flex;
			align-items:center;
			flex-direction:row;
			justify-content:center;
			width:100%; 

	}
}
.nav-primary__links ul{
	margin:0;
	padding:0;
	list-style:none
}
.nav-primary__links ul li{
	margin:20px 0
}
@media only screen and (min-width:870px){
	.nav-primary__links ul li{
			display:inline-block;
			height:100%;
			margin:0;
			padding:0 12px
	}
}
.nav-primary__links ul li:first-child{
	padding-left:0
}
.nav-primary__links ul li a{
	display:block;
	height:100%;
	margin:0;
	color:#fff;
	font-size:22px
}
@media only screen and (min-width:870px){
	.nav-primary__links ul li a{
			padding:20px 0;
			border-bottom:5px solid transparent;
			font-size:20px
	}
}
.nav-primary__links ul li a:hover{
	transition:.4s border
}
@media only screen and (min-width:870px){
	.nav-primary__links ul li a:hover{
			border-bottom:5px solid #fff
	}
}
@media only screen and (min-width:870px){
	.nav-primary__links ul li a.is-active{
			border-bottom:5px solid #fff
	}
}
.section-title {
  font-size: 20px;
  font-weight: bold;
}
.leaderboard th {
  padding: 20px;
}
.login-container {
  background-color: #f5f9f7;
}
.login-input {
  margin-bottom: 2em;
  padding: 12px 20px;
  background-color: var(--color-bg);
  border-bottom: 3px solid var(--primary-color);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0px;
  font-size: 16px;
  font-family: 'Giga Sans Light';
  text-align: center;
}
.btnContainer {
  display: flex;
  justify-content: center;
}
.authButton {
  font-size: 16px;
  width: 30%;
  background-color: var(--primary-color);
  text-transform: uppercase;
  color: white;
  padding: 1rem;
  margin-bottom: 2rem;
  border: solid var(--primary-color);
  border-radius: 20px;
  font-family: 'Ergonomique Bold';
}
.login-container .sign-up {
  font-size: 16px;
}
@media only screen and (max-width:870px){
  .authButton {
    width: 100%;
  }
  .login-container .sign-up {
    padding: 10px;
    font-size: 18px;
  }
  .login-input {
    width: 90%;
  }
}
.authButton a {
  color: white;
}
.authButton:hover, .authButton:focus {
  color: #495b6c !important;
}
.errorMsg {
  color: salmon !important;
  padding: 10px;
}